<div class="dark-body">
    <div class="container container-dark">
    
      <h1 class="mt-4" id="home-header">My Teams</h1>
      
      <p class="lead mb-3-dash">Your sports fandoms in one location</p>
    
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body card-body-dark">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Password</h1>
            <%- include('partials/messages') %>
            <form action="/users/update_password_d" method="POST">
              <div class="form-group">
                <label for="password">Current Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Current Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password">New Password</label>
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="password2">Confirm</label>
                <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-primary-dark btn-block">Save</button>
              <a href="./settings_d" class="btn btn-secondary btn-secondary-dark btn-block" id="btn-reg-reset">Cancel</a>
            </form>       
          </div>
        </div>
      </div>
    
    
    </div>
  
  </div>